In [5]:
# Сделайте DataFrame с колонками:
#   "Цена" — значения [99.9, 149.5, 199.0],
#   "Товар" — строки с названиями,
#   "В наличии" — логические значения.
# Выведите сам DataFrame и тип данных каждой колонки.
import pandas as pd
data={
    'Цена':[99.9, 149.5, 199.0],
    'Товар':['Barbie', 'Hotwheels','Dinosaurs'],
    'В наличии':[True, False, True]
}
df = pd.DataFrame(data)

print("Наша таблица \n", df)
print("выводим тип каждой колонки\n", df['Цена'].dtype, df['Товар'].dtype, df['В наличии'].dtype)


# используйте pd.DataFrame, df.dtypes, df['col'].dtype

Наша таблица
     Цена      Товар  В наличии
0   99.9     Barbie       True
1  149.5  Hotwheels      False
2  199.0  Dinosaurs       True
выводим тип каждой колонки
 float64 object bool

In [7]:
import pandas as pd

df = pd.DataFrame({
    'Цена':[99.9, 149.5, 199.0],
    'Товар':['Barbie', 'Hotwheels','Dinosaurs'],
    'В наличии':[True, False, True]
})

print("Наша таблица \n", df)
print("выводим тип каждой колонки\n", df['Цена'].dtype, df['Товар'].dtype, df['В наличии'].dtype)

Наша таблица
     Цена      Товар  В наличии
0   99.9     Barbie       True
1  149.5  Hotwheels      False
2  199.0  Dinosaurs       True
выводим тип каждой колонки
 float64 object bool

In [9]:
# Сделайте объект Series с данными температур [18, 20, 21, 19],
# дайте ему имя "Температура".
# Выведите Series, его индекс, значения, длину и тип данных.
import pandas as pd
sr=pd.Series([18, 20, 21, 19], name='Температура')
print("Series", sr)
print("индекс", sr.index)
print("значение", sr.values)
print("длина", sr.shape)
print("тип данных", sr.dtype)

# используйте pd.Series, свойства .index, .values, .dtype, а также len()

Series 0    18
1    20
2    21
3    19
Name: Температура, dtype: int64
индекс RangeIndex(start=0, stop=4, step=1)
значение [18 20 21 19]
длина (4,)
тип данных int64

In [26]:
# Сделайте DataFrame с колонкой "City" со строками ["  moscow", "SPb  ", "kaZAN "].
# Очистите данные: уберите пробелы по краям и приведите строки к виду "С Заглавной буквы".
# Выведите исходный и очищенный столбец.
import pandas as pd
df=pd.DataFrame({
    "City":["      moscow", " SPb           ", "kaZAN "]
})
print("Исходный столбик:\n", df)

df["City"]=df["City"].str.title()

df["City"]=df["City"].str.strip()

print("Очищенный столбик:\n", df)


# используйте строковые методы .str.strip() и .str.title()

Исходный столбик:
               City
0           moscow
1   SPb
2           kaZAN
Очищенный столбик:
      City
0  Moscow
1     Spb
2   Kazan

In [ ]:
# Сделайте DataFrame с колонкой "Score" со значениями [85, 90, 95].
# 1) Преобразуйте значения в строки вида "score_85", "score_90", ...
# 2) Из полученных строк извлеките обратно числа и приведите их к int в отдельной колонке.
import 

# используйте .astype(str) + конкатенацию, 
#            для извлечения — .str.extract(r'(\d+)') или .str.replace() + .astype(int)