In [28]:
import sqlite3
# создаем базу данных и добавляем таблицу
conn=sqlite3.connect (':memory:')
cursor= conn.cursor()
#создаем таблицу Employeers
cursor.execute('''
CREATE TABLE IF NOT EXISTS Employeers(
  employee_id INTEGER,
  first_name TEXT NOT NULL,
  salary REAL NOT NULL,
  department TEXT NOT NULL
)''')

#вставляем синтетические данные
employees_data = [
    (1,'John', 50000,'IT'),
    (2,'Alice', 60000, 'Sales'),
    (3, 'Bob', 55000, 'Marketing'),
    (4,'Emma', 70000,'IT')
]
cursor.executemany ('INSERT INTO Employeers VALUES( ?, ?, ?, ?)', employees_data)


# выполняем запрос
cursor.execute('SELECT first_name, salary FROM Employeers WHERE department = ?', ('IT',) )
rows=cursor.fetchall()

# выводим результат
for row in rows:
    print(f"Employee Name:{row[0]}, Salary:{row[1]}")
# закрываем соединение
conn.close()

Employee Name:John, Salary:50000.0
Employee Name:Emma, Salary:70000.0

Выведите имена и зарплату сотрудников отдела IT.