## Задание №3: Добавление новых записей и фильтрация по условию

Создать временные базы данных, заполнить их необходимыми таблицами и добавить дополнительные записи сотрудников и отделов. Затем выбрать всех сотрудников, работающих в определенном отделе, используя условие WHERE.

In [7]:
import sqlite3

# Создаем временную базу данных
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Создаем таблицы
cur.execute("""
CREATE TABLE Employees(
    employee_id INT PRIMARY KEY,
    name TEXT,
    salary REAL,
    department_id INT
)
""")

cur.execute("""
CREATE TABLE Departments(
    department_id INT PRIMARY KEY,
    department_name TEXT
)
""")

# Вставляем начальные данные
employees_data = [
    (1, 'Иван Петров', 50000, 1),
    (2, 'Анна Смирнова', 70000, 2),
]
departments_data = [
    (1, 'Отдел IT'),
    (2, 'Продажи')
]

cur.executemany('INSERT INTO Employees VALUES(?, ?, ?, ?)', employees_data)
cur.executemany('INSERT INTO Departments VALUES(?, ?)', departments_data)

# Добавляем новые записи
new_employees = [
    (3, 'Михаил Иванов', 80000, 1),
    (4, 'Ольга Васильева', 60000, 2)
]
cur.executemany('INSERT INTO Employees VALUES (?, ?, ?, ?)', new_employees)

# Запрашиваем всех сотрудников отдела продаж (department_id=2)
cur.execute(""" SELECT Employees.employee_id, Employees.name, Employees.salary, Departments.department_name
             FROM Employees JOIN Departments ON Employees.department_id = Departments.department_id
            WHERE Departments.department_id = ?
""", (2,))

# Выводим результат
results = cur.fetchall()
for row in results:
    print(row)

# Закрываем соединение
conn.close()

(2, 'Анна Смирнова', 70000.0, 'Продажи')
(4, 'Ольга Васильева', 60000.0, 'Продажи')

In [4]:
import sqlite3

# Создаем временную базу данных
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Создаем таблицы
cur.execute("""
CREATE TABLE Employees(
    employee_id INT PRIMARY KEY,
    name TEXT,
    salary REAL,
    department_id INT
)
""")

cur.execute("""
CREATE TABLE Departments(
    department_id INT PRIMARY KEY,
    department_name TEXT
)
""")

# Вставляем начальные данные
employees_data = [
    (1, 'Иван Петров', 50000, 1),
    (2, 'Анна Смирнова', 70000, 2),
]
departments_data = [
    (1, 'Отдел IT'),
    (2, 'Продажи')
]

cur.executemany("INSERT INTO Employees VALUES (?,?,?,?)", employees_data)
cur.executemany("INSERT INTO Departments VALUES (?,?)", departments_data)

# Добавляем новые записи
new_employees = [
    (3, 'Михаил Иванов', 80000, 1),
    (4, 'Ольга Васильева', 60000, 2)
]
cur.executemany("INSERT INTO Employees VALUES (?,?,?,?)", new_employees)

# Запрашиваем всех сотрудников отдела продаж (department_id=2)
cur.execute("""
SELECT Employees.employee_id, Employees.name, Employees.salary, Departments.department_name
FROM Employees
JOIN Departments ON Employees.department_id = Departments.department_id
WHERE Departments.department_id = ?
""", (2,))

# Выводим результат
results = cur.fetchall()
for row in results:
    print(row)

# Закрываем соединение
conn.close()

(2, 'Анна Смирнова', 70000.0, 'Продажи')
(4, 'Ольга Васильева', 60000.0, 'Продажи')