In [6]:
import sqlite3

# Создаем базу данных и добавляем таблицу
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Создаем таблицу Orders
cursor.execute('''
CREATE TABLE Orders (
  order_id INTEGER NOT NULL,
  customer_id INTEGER NOT NULL,
  product_name TEXT NOT NULL,
  price INTEGER NOT NULL
)
''')

# Вставляем синтетические данные
orders_data = [
    (1, 1, 'Product A', 100),
    (2, 1, 'Product B', 150),
    (3, 2, 'Product C', 200),
    (4, 3, 'Product D', 300)
]
cursor.executemany('INSERT INTO Orders VALUES (?, ?, ?, ?)', orders_data)

# Выполняем запрос
cursor.execute('SELECT customer_id, SUM(price) FROM Orders GROUP BY customer_id ')
rows = cursor.fetchall()

# Выводим результат
for row in rows:
    print(f"Customer ID: {row[0]}, Total Spent: {row[1]:.2f}")

# Закрываем соединение
conn.close()

Customer ID: 1, Total Spent: 250.00
Customer ID: 2, Total Spent: 200.00
Customer ID: 3, Total Spent: 300.00