## Задание №5: Удаление сотрудника и получение итоговых сумм по отделам

Создай две таблицы: сотрудники и отделы. Удали одного сотрудника и выведи общую сумму зарплат каждого отдела после удаления.

In [5]:
import sqlite3

# Создаем временную базу данных
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Создаем таблицы
cur.execute("""
CREATE TABLE Employers(
  id INT PRIMARY KEY,
  name TEXT NOT NULL,
  salary REAL NOT NULL,
  department_id INT

)
""")

cur.execute("""
CREATE TABLE Departments(
  department_id INT PRIMARY KEY,
  dep_name TEXT
)
""")

# Вставляем данные
employers_data = [
    (1, 'Алексей Семенов', 50000, 1),
    (2, 'Евгений Александров', 70000, 2),
    (3, 'Владимир Новиков', 60000, 1),
    (4, 'Дарья Андреева', 80000, 2)
]
departments_data = [
    (1, 'HR-отдел'),
    (2, 'Логистика')
]

cur.executemany('INSERT INTO Employers VALUES(?, ?, ?, ?)', employers_data)
cur.executemany('INSERT INTO Departments VALUES(?, ?)', departments_data)

# Удаляем сотрудника Евгения Александрова
cur.execute("DELETE FROM Employers WHERE name='Евгений Александров'")

# Получаем итоговую сумму зарплат по каждому отделу
cur.execute("""
SELECT Departments.dep_name, SUM(Employers.salary)
FROM Employers
JOIN Departments ON Employers.department_id=Departments.department_id
GROUP BY Departments.department_id
""")

# Выводим результат
results = cur.fetchall()
for row in results:
    print(f'Общая сумма зарплат в {row[0]} — {round(row[1], 2)} рублей.')

# Закрываем соединение
conn.close()

Общая сумма зарплат в HR-отдел — 110000.0 рублей.
Общая сумма зарплат в Логистика — 80000.0 рублей.