## Задание №4: Обновление зарплаты сотрудника и группировка по отделам

Создать таблицу сотрудников и департаментов, обновить зарплату конкретного сотрудника, вывести среднее значение зарплат по каждому департаменту.

In [6]:
import sqlite3

# Создаем временную базу данных
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Создаем таблицы
cur.execute("""
CREATE TABLE Employees(
    employee_id INT PRIMARY KEY,
    name TEXT,
    salary REAL,
    department_id INT
)
""")

cur.execute("""
CREATE TABLE Departments(
    department_id INT PRIMARY KEY,
    department_name TEXT
)
""")

# Вставляем данные
employees_data = [
    (1, 'Игорь Кузнецов', 50000, 1),
    (2, 'Светлана Петрова', 70000, 2),
    (3, 'Дмитрий Сергеев', 60000, 1),
    (4, 'Елена Иванова', 80000, 2)
]
departments_data = [
    (1, 'Финансовый отдел'),
    (2, 'Маркетинг')
]

cur.executemany("INSERT INTO Employees VALUES (?,?,?,?)", employees_data)
cur.executemany("INSERT INTO Departments VALUES (?,?)", departments_data)

# Повышаем зарплату сотруднику Дмитрий Сергееву на 10%
cur.execute("UPDATE Employees SET salary = salary * 1.1 WHERE name='Дмитрий Сергеев'")

# Выбираем среднюю зарплату по каждому отделу
cur.execute("""
SELECT Departments.department_name, AVG(Employees.salary)
FROM Employees
JOIN Departments ON Employees.department_id = Departments.department_id
GROUP BY Departments.department_id
""")

# Выводим результат
results = cur.fetchall()
for row in results:
    print(f'Средняя зарплата {row[0]} — {round(row[1], 2)} рублей.')

# Закрываем соединение
conn.close()

Средняя зарплата Финансовый отдел — 58000.0 рублей.
Средняя зарплата Маркетинг — 75000.0 рублей.