## 5. Примеры использования оператора LIKE

Выведите все книги, в названии которых встречается слово "Programming".

In [1]:
import sqlite3

# Создаем базу данных и добавляем таблицу
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Создаем таблицу Books
cursor.execute('''
CREATE TABLE Books (
  book_id INTEGER PRYMARY KEY,
  title TEXT NOT NULL,
  author TEXT NOT NULL
)
''')

# Вставляем синтетические данные
books_data = [
    (1, 'The Great Adventure', 'J.K. Rowling'),
    (2, 'History of Technology', 'Isaac Asimov'),
    (3, 'Programming Basics', 'Robert Martin')
]
cursor.executemany('INSERT INTO Books VALUES (?, ?, ?)', books_data)

# Выполняем запрос с оператором LIKE
cursor.execute('SELECT * FROM Books WHERE title LIKE ?', ('%Programming%',))
rows = cursor.fetchall()

# Выводим результат
for row in rows:
    print(f"Book Title: {row[1]}, Author: {row[2]}")

# Закрываем соединение
conn.close()

Book Title: Programming Basics, Author: Robert Martin