Получите список всех продуктов с названием поставщика.

In [5]:
import sqlite3

# Создаем базу данных и добавляем таблицы
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Создаем таблицу Products
cursor.execute('''
CREATE TABLE Products (
    product_id INTEGER NOT NULL,
    product_name TEXT NOT NULL,
    supplier_id INTEGER NOT NULL
)
''')

# Создаем таблицу Suppliers
cursor.execute('''
CREATE TABLE Suppliers (
    supplier_id INTEGER NOT NULL,
    company_name TEXT NOT NULL
)
''')

# Вставляем синтетические данные
products_data = [
    (1, 'Laptop', 1),
    (2, 'Mouse', 2),
    (3, 'Keyboard', 1)
]
suppliers_data = [
    (1, 'TechCo'),
    (2, 'Peripherals Inc.')
]
cursor.executemany('INSERT INTO Products VALUES (?, ?, ?)', products_data)
cursor.executemany('INSERT INTO Suppliers VALUES (?, ?)', suppliers_data)

# Выполняем запрос
cursor.execute('''
SELECT p.product_name, s.company_name
FROM Products p
INNER JOIN Suppliers s ON p.supplier_id=s.supplier_id
''')
rows = cursor.fetchall()

# Выводим результат
for row in rows:
    print(f"Product: {row[0]}, Supplier: {row[1]}")

# Закрываем соединение
conn.close()

Product: Laptop, Supplier: TechCo
Product: Mouse, Supplier: Peripherals Inc.
Product: Keyboard, Supplier: TechCo