## ВВедение в анализ данных

##Понимание структуры данных

Имеется список [12, 34, 56, 78]. Необходимо:

Вывести второй элемент списка. Изменить третий элемент списка на 100. Вывести измененный список.

In [2]:
# Создаем список

list=[12,34,56,78]

# Выводим второй элемент (индексация начинается с 0)

print("Second element:", list[1])
# Изменяем третий элемент на 100
list[2]=100

# Выводим измененный список
print("New list",list)

Second element: 34
New list [12, 34, 100, 78]

##Простая операция ввода-вывода

Попросите пользователя ввести его имя и возраст, а затем выведите эти данные в форматированной строке.

In [7]:
# Получаем имя и возраст от пользователя
# напишите здесь Ваш код ...
name=input("Write your name")
age=input("How old are you?")

# Выводим информацию
# напишите здесь Ваш код ...
print(f"Hi,{name} ! You are {age} ! :)")

Write your nameAlex
How old are you? 6
Hi,Alex ! You are  6 ! :)

## Работа с переменными и простые вычисления

Запросите у пользователя два числа. Вычислите их сумму и произведение, а затем выведите результаты.

In [10]:
# Запрашиваем два числа
# напишите здесь Ваш код ...
number1=float(input("Please, write first number:"))
number2=float(input("Please, write second number:"))


# Вычисляем сумму и произведение
# напишите здесь Ваш код ...
sum=number1+number2
mult = number1*number2

# Выводим результаты
# напишите здесь Ваш код ...
print(f"amount:{sum} multiplication: {mult}")

Please, write first number:3
Please, write second number:2
amount:5.0 multiplication: 6.0

## Использование условных операторов

Напишите программу, которая определяет, является ли число, введенное пользователем, четным или нечетным.

In [14]:
# Запрашиваем число у пользователя
# напишите здесь Ваш код ...
number=int(input("Please write a number:"))


# Определяем четность числа
# напишите здесь Ваш код ...

if number%2==0:
   print("It's an even number {number}")
else:
  print("It's an odd number {number}")

Please write a number:55
It's an odd number {number}

###типы данных и операции для анализа данных

##Работа с различными типами данных

Создайте переменные разных типов данных (число, строка, список) и выполните с ними следующие действия:

Умножьте число на 2. Добавьте к строке еще одну строку. Добавьте новый элемент в список.

In [18]:
# Создаем переменные
# напишите здесь Ваш код ...
number=111
string="Hi!"
list1=[1,2,3]
# Умножаем число на 2
# напишите здесь Ваш код ...
number*=2

# Добавляем к строке
# напишите здесь Ваш код ...
string+="I try to do my homework."
# Добавляем элемент в список
# напишите здесь Ваш код ...
list1.append(4)

# Выводим результаты
# напишите здесь Ваш код ...

print(number, string, list1)

222 Hi!I try to do my homework. [1, 2, 3, 4]

##Использование математических операторов

Вычислите результат следующих операций для чисел 10 и 3: сложение, вычитание, умножение, деление, целочисленное деление, остаток от деления, возведение в степень.

In [26]:
# Определяем числа
# напишите здесь Ваш код ...
number1=10
number2=3
# Выполняем операции
# напишите здесь Ваш код ...
sum=number1+number2
minus=number1-number2
multiplication=number1*number2
division=number1/number2
integer=number1//number2
remainder=number1%number2
exponentiation=number1**number2

# Выводим результаты
# напишите здесь Ваш код ...
print(f"Суммв:{sum}")
print(f"разность:{minus}")
print(f"умножение: {multiplication}")
print(f"деление: {division}")
print(f"целочисленное деление: {integer}")
print(f"остаток от деления: {remainder}")
print(f"возведение в степень: {exponentiation}")

Суммв:13
разность:7
умножение: 30
деление: 3.3333333333333335
целочисленное деление: 3
остаток от деления: 1
возведение в степень: 1000

##Работа с типами данных в Pandas

Создайте DataFrame в Pandas, содержащий три колонки: числа, строки и логические значения. Выведите типы данных колонок.

In [32]:
import pandas as pd

# Создаем DataFrame
# напишите здесь Ваш код ...
df=pd.DataFrame({
    "numbers":[1,2,3],
    "strings":['one','two','three'],
    "Logic_values":[True,False,True]
})
# Выводим типы данных колонок
# напишите здесь Ваш код ...
print(df.dtypes)

numbers          int64
strings         object
Logic_values      bool
dtype: object

##Изучение операторов для работы с последовательностями

Дан список [1, 2, 3, 4, 5]. Используйте срезы для выполнения следующих действий:

Выведите первые три элемента списка. Выведите список в обратном порядке. Выведите каждый второй элемент списка.

In [33]:
# Создаем список
# напишите здесь Ваш код ...
list1=[1,2,3,4,5]
# Выводим первые три элемента
# напишите здесь Ваш код ...
print("выводим первые три элемента:",list1[:3])
# Выводим список в обратном порядке
# напишите здесь Ваш код ...
print("Выведите список в обратном порядке.", list1[::-1])

# Выводим каждый второй элемент
# напишите здесь Ваш код ...
print("Выведите каждый второй элемент списка.", list1[::2])

выводим первые три элемента: [1, 2, 3]
Выведите список в обратном порядке. [5, 4, 3, 2, 1]
Выведите каждый второй элемент списка. [1, 3, 5]

##Использование условных операторов в анализе данных

Напишите программу, которая определяет, является ли введенное число положительным, отрицательным или нулем.

In [43]:
# Запрашиваем число у пользователя
# напишите здесь Ваш код ...
number=float(input("Please, enter a number."))


# Проверяем, является ли число положительным, отрицательным или равным нулю
# напишите здесь Ваш код ...
if number>0:
  print(f"число {number} положительное")
elif number<0:
  print(f"число {number} отрицвтельное")
else :
  print(f"это нолик {number} ")

Please, enter a number.0
это нолик 0.0

##Создание и использование функций

Напишите функцию calculate_area, которая принимает радиус круга и возвращает его площадь.

In [44]:

import math

# Определяем функцию для расчета площади круга
def calculate_area(radius):
    return math.pi * radius ** 2

# Тестируем функцию
radius = float(input("Введите радиус круга: "))
area = calculate_area(radius)
print("Площадь круга:", area)

Введите радиус круга: 543
Площадь круга: 926295.4523182969

##Вложенные условные операторы

Напишите программу, которая классифицирует возраст человека как "ребенок", "подросток", "взрослый" или "пожилой", исходя из введенного возраста.

In [45]:

# Запрашиваем возраст
age = int(input("Введите ваш возраст: "))

# Классифицируем возраст
if age < 13:
    print("Ребенок")
elif age < 18:
    print("Подросток")
elif age < 65:
    print("Взрослый")
else:
    print("Пожилой")

Введите ваш возраст: 42
Взрослый

##Использование циклов для анализа данных

Напишите программу, которая выводит квадраты чисел от 1 до 10 с использованием цикла for.

In [46]:
# Используем цикл for для вывода квадратов чисел от 1 до 10
for number in range(1, 11):
    print(f"Квадрат числа {number} равен {number**2}")

Квадрат числа 1 равен 1
Квадрат числа 2 равен 4
Квадрат числа 3 равен 9
Квадрат числа 4 равен 16
Квадрат числа 5 равен 25
Квадрат числа 6 равен 36
Квадрат числа 7 равен 49
Квадрат числа 8 равен 64
Квадрат числа 9 равен 81
Квадрат числа 10 равен 100

##Использование цикла for для обработки данных

Создайте список из пяти чисел. Используйте цикл for, чтобы вывести каждое число, умноженное на 2.

In [47]:
# Создаем список чисел
numbers = [1, 2, 3, 4, 5]

# Используем цикл for для обработки и вывода каждого числа, умноженного на 2
for number in numbers:
    print(number * 2)

2
4
6
8
10

##Применение цикла while

Напишите программу, использующую цикл while, которая считает от 10 до 1, а затем выводит "Старт!".

In [48]:
# Начальное значение счетчика
count = 10

# Используем цикл while для обратного отсчета
while count > 0:
    print(count)
    count -= 1

print("Старт!")

10
9
8
7
6
5
4
3
2
1
Старт!

##Преобразование цикла for в while

У вас есть следующий цикл for:

for i in range(5):
    print(i)
Преобразуйте его в цикл while, выполняющий ту же функцию.

In [49]:
# Начальное значение счетчика
i = 0

# Используем цикл while для имитации цикла for
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

##Использование вложенных циклов

Создайте вложенные циклы, где внешний цикл перебирает числа от 1 до 3, а внутренний цикл перебирает числа от 1 до 2. Выведите все комбинации этих чисел.

In [50]:
# Внешний цикл
for i in range(1, 4):
    # Внутренний цикл
    for j in range(1, 3):
        print(f"Комбинация: ({i}, {j})")

Комбинация: (1, 1)
Комбинация: (1, 2)
Комбинация: (2, 1)
Комбинация: (2, 2)
Комбинация: (3, 1)
Комбинация: (3, 2)

##Применение методов обработки строк в Pandas

Дан DataFrame df, содержащий колонку 'Name' со значениями: ["alice", "BOB", "Charlie"]. Преобразуйте все строки в этой колонке к нижнему регистру.

In [59]:

import pandas as pd

# Создаем DataFrame
df = pd.DataFrame({'Name': ["alice", "BOB", "Charlie"]})

# Преобразуем все строки в колонке 'Name' к нижнему регистру
df['Name'] = df['Name'].str.lower()

# Выводим результат
print(df)

      Name
0    alice
1      bob
2  charlie

##Преобразование данных из чисел в строки и обратно в Pandas

В DataFrame df с колонкой 'Age' с числовыми значениями, преобразуйте значения этой колонки в строки. Затем преобразуйте их обратно в числа.

In [ ]:
import pandas as pd

# Создаем DataFrame
df = pd.DataFrame({'Age': [25, 30, 35]})

# Преобразуем числа в строки
df['Age'] = df['Age'].astype(str)

# Преобразуем строки обратно в числа
df['Age'] = df['Age'].astype(int)

# Выводим результат
print(df)

##Использование регулярных выражений для фильтрации данных

Дан DataFrame df с колонкой 'Email'. Отфильтруйте строки, содержащие адреса электронной почты, заканчивающиеся на ".com".

In [ ]:

import pandas as pd

# Создаем DataFrame
df = pd.DataFrame({'Email': ["user1@example.com", "user2@example.org", "user3@example.com"]})

# Фильтруем строки, содержащие электронные адреса, заканчивающиеся на ".com"
df_filtered = df[df['Email'].str.contains('.com$', regex=True)]

# Выводим результат
print(df_filtered)


##Извлечение данных из строк с помощью регулярных выражений

В DataFrame df содержится колонка 'Info' со строками в формате "Name: [Имя], Age: [Возраст]". Извлеките имя и возраст в отдельные колонки.

In [60]:
import pandas as pd

# Создаем DataFrame
df = pd.DataFrame({'Info': ["Name: Alice, Age: 30", "Name: Bob, Age: 25", "Name: Charlie, Age: 35"]})

# Извлекаем имя и возраст в отдельные колонки
df[['Name', 'Age']] = df['Info'].str.extract('Name: (.+), Age: (\d+)')

# Выводим результат
print(df)

                     Info     Name Age
0    Name: Alice, Age: 30    Alice  30
1      Name: Bob, Age: 25      Bob  25
2  Name: Charlie, Age: 35  Charlie  35

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
/tmp/ipython-input-2747085019.py:7: SyntaxWarning: invalid escape sequence '\d'
  df[['Name', 'Age']] = df['Info'].str.extract('Name: (.+), Age: (\d+)')

#Работа со списками и структурами данных в Pandas

##Создание и базовая манипуляция с Series в Pandas

Создайте объект Series в Pandas из списка чисел [10, 20, 30, 40, 50]. Затем добавьте к этому объекту Series число 60.

In [ ]:
import pandas as pd

# Создаем объект Series из списка чисел
numbers = pd.Series([10, 20, 30, 40, 50])

# Добавляем число 60
numbers = pd.concat([numbers, pd.Series([60])], ignore_index=True)

# Выводим результат
print(numbers)

##Работа с DataFrame в Pandas

Создайте DataFrame в Pandas, содержащий две колонки: 'Name' и 'Age', с набором имен и возрастов соответственно. Добавьте к этому DataFrame новую строку.

In [ ]:

import pandas as pd

# Создаем DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]})

# Создаем DataFrame для новой строки
new_row_df = pd.DataFrame([{'Name': 'David', 'Age': 40}])

# Добавляем новую строку
df = pd.concat([df, new_row_df], ignore_index=True)

# Выводим результат
print(df)

##Визуализация данных из Series в Pandas

Используйте объект Series, содержащий некоторые числовые значения, для создания простого графика (например, линейного).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Создаем объект Series
data = pd.Series([1, 3, 2, 4, 5])

# Визуализируем данные
data.plot(kind='line')
plt.show()

##Визуализация данных из DataFrame в Pandas

Используйте DataFrame, содержащий две колонки числовых данных, для создания гистограммы.

In [ ]:

import pandas as pd
import matplotlib.pyplot as plt

# Создаем DataFrame
df = pd.DataFrame({
    'data1': [1, 2, 3, 4, 5],
    'data2': [5, 4, 3, 2, 1]
})

# Визуализируем данные
df.plot(kind='bar')
plt.show()

#Использование словарей и структур данных в Pandas

##Создание и манипуляция со словарями в Python для анализа данных

Создайте словарь, представляющий информацию о студенте: имя, возраст, курс. Затем добавьте в словарь информацию о его специальности.

In [ ]:
# Создаем словарь с информацией о студенте
student_info = {
    'name': 'Alice',
    'age': 22,
    'course': 'Data Science'
}

# Добавляем специальность
student_info['major'] = 'Computer Science'

# Выводим обновленный словарь
print(student_info)

##Преобразование словаря в DataFrame в Pandas

Преобразуйте следующий словарь, содержащий данные о студентах, в DataFrame в Pandas:

students_data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'Major': ['Biology', 'Chemistry', 'Physics']
}

In [ ]:
import pandas as pd

# Создаем словарь
students_data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'Major': ['Biology', 'Chemistry', 'Physics']
}

# Преобразуем словарь в DataFrame
students_df = pd.DataFrame(students_data)

# Выводим DataFrame
print(students_df)

##Работа со сложными структурами данных в Pandas

Дан словарь с вложенными словарями, представляющими данные о продажах за разные месяцы. Преобразуйте его в DataFrame:

sales_data = {
    'January': {'Apples': 50, 'Oranges': 35},
    'February': {'Apples': 40, 'Oranges': 30}
}

In [ ]:
import pandas as pd

# Создаем словарь с данными о продажах
sales_data = {
    'January': {'Apples': 50, 'Oranges': 35},
    'February': {'Apples': 40, 'Oranges': 30}
}

# Преобразуем словарь в DataFrame
sales_df = pd.DataFrame(sales_data)

# Выводим DataFrame
print(sales_df)

##Агрегирование данных в DataFrame из словаря

Формулировка задачи: Используя DataFrame, созданный из словаря продаж (из предыдущей задачи), рассчитайте общее количество продаж фруктов за каждый меся

In [ ]:

import pandas as pd

# Создаем DataFrame из словаря продаж
sales_data = {
    'January': {'Apples': 50, 'Oranges': 35},
    'February': {'Apples': 40, 'Oranges': 30}
}
sales_df = pd.DataFrame(sales_data)

# Рассчитываем общее количество продаж за каждый месяц
total_sales = sales_df.sum()

# Выводим результат
print(total_sales)

#Работа с файлами для анализа данных

##Чтение и запись текстового файла в Python

Создайте текстовый файл и запишите в него несколько строк. Затем прочитайте файл и выведите его содержимое на экран.

In [ ]:

# Записываем данные в файл
with open('example.txt', 'w') as file:
    file.write("Hello, World!\n")
    file.write("This is a test file.\n")

# Читаем данные из файла
with open('example.txt', 'r') as file:
    content = file.read()

# Выводим содержимое файла
print(content)

#Использование Pandas для чтения и записи CSV-файла

Используйте Pandas для чтения данных из CSV-файла, а затем сохраните эти данные в новый CSV-файл.

In [ ]:

import pandas as pd

# Чтение данных из CSV-файла
data = pd.read_csv('data.csv')

# Выводим прочитанные данные
print(data)

# Сохраняем данные в новый CSV-файл
data.to_csv('new_data.csv', index=False)

##Чтение JSON-файла с Pandas

Используйте Pandas для чтения данных из JSON-файла и выведите эти данные.

In [ ]:
import pandas as pd

# Чтение данных из JSON-файла
data = pd.read_json('data.json')

# Выводим прочитанные данные
print(data)

##Чтение Excel-файла с Pandas

Используйте Pandas для чтения данных из Excel-файла (.xlsx) и выведите эти данные.

In [ ]:
import pandas as pd

# Чтение данных из Excel-файла
data = pd.read_excel('data.xlsx')

# Выводим прочитанные данные
print(data)

In [58]:
inc_count = "2256"
print(type(inc_count))
print(inc_count)
inc_count = int(inc_count)
print(type(inc_count))
print(inc_count)

<class 'str'>
2256
<class 'int'>
2256